@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
}

/* By default this website is on darkmode */
:root{
  color:'white';
  background-color: #000000;
}
option{
  background-color: #000000;
  color: white;
  transition: background ease 500ms;
}
option:hover, option:focus{
  background-color: '#560677';
}
option:first-child{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
option:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
input::autofill{
  background: transparent;
}
input:-webkit-autofill {
  background: transparent !important;
}
input:-webkit-autofill:focus {
  background: transparent !important;
}
input:-webkit-autofill:hover {
  background: transparent !important;
}